// Developer.xcconfig

// You Apple developer account's Team ID
DEVELOPMENT_TEAM = <4K-SOFT LTD.>

// The bundle identifier of the apps.
// Should be an app id created at developer.apple.com
// with Network Extensions capabilty.
APP_ID_IOS = <com.efimswift.testVpnConnect>
APP_ID_MACOS = <com.efimswift.testVpnConnect>
